<div class="container">
   <div class="block">
     <div class="row">
       <div class="span4">
         <img class="float-right" src="https://c4.wallpaperflare.com/wallpaper/814/537/89/digital-art-portrait-display-nature-trees-wallpaper-preview.jpg" width="400px" height="600px"/>
         <div class="content-heading"><h3>About Us </h3></div>
         <div class="col-sm-6">

           <div class="section_title"><br>
             <div class="section_subtitle"></div>
             <h2 class="section_main_title">WE ARE <strong>NATURE</strong></h2>

           </div>
           <div class="about-item">
             <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vitae arcu tempor neque lacinia pretium. Mauris dictum facilisis augue. Nulla pulvinar eleifend sem. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Praesent dapibus. Vestibulum fermentum tortor id mi. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Et harum quidem rerum facilis est et expedita distinctio. Duis condimentum augue id magna semper rutrum. Susp</p>
             <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vitae arcu tempor neque lacinia pretium. Mauris dictum facilisis augue. Nulla pulvinar eleifend sem. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Praesent dapibus. Vestibulum fermentum tortor id mi. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Et harum quidem rerum facilis est et expedita distinctio. Duis condimentum augue id magna semper rutrum. Susp</p>
           </div>
           <div class="hgt-20"></div>
         </div>
       </div>
     </div>
   </div>

