

<nav class="navbar navbar-expand-lg  navbar-dark bg-danger">
  <a class="navbar-brand" routerLink="/home">ČégoBráško</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/galerry">Galerry</a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>


<footer class="container-fluid text-center bg-danger">
  <div class="row">
    <div class="col-sm-4">
      <h2> Contact Us</h2>
      <br>
      <h5> Our address and contact info here.</h5>
      <h6> blablabla</h6>
      <h6> blablabla</h6>
      <h6> blablabla</h6>
    </div>
    <div class="col-sm-4">
      <h3>Connect</h3>
      <p>blabla</p>

    </div>
    <div class="col-sm-4">
      <img src>
    </div>
  </div>
</footer>
